body {
	background-color: #f3e0e0;
}

h1 {
	color: #b33232;
	font-family: 'Archivo Black', sans-serif;
	margin-bottom: 0;
}

h4 {
	color: #b33232;
	font-family: 'Archivo Black', sans-serif;
	padding-top: 10%;
	font-size: 20px;
}
#heading {
	text-align: center;
}

#heading p {
	font-family: 'Roboto Mono', monospace;
	margin-top: 7px;
}

#tableHolder {
	background-color: white;
	width: 60%;
	margin: 3% 20%;
}

.circle {
	background-color: lightgray;
	padding: 53px;
	border-radius: 50%;
	width: 3%;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.circle:hover {
	background-color: gray;
	cursor: pointer;
}

#row1 {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
}

#row2 {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
}

#row3 {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

form {
	background-color: white;
	text-align: left;
	width: 60%;
	padding-left: 2%;
}

form p {
	font-family: 'Roboto Mono', monospace;
}

input {
	display: block;
	margin-bottom: 2%;
}

input[type=text] {
	border: none;
	border-bottom: 1px solid black;
	padding: 7%;
}

#inputs {
	margin: 0 41%;
}