body {
	background-color: #EEE;
}

h1 {
	color: #E34E45;
	font-family: 'Archivo Black', sans-serif;
	margin-bottom: 0;
}

h4 {
	color: #b33232;
	font-family: 'Archivo Black', sans-serif;
	font-size: 20px;
	clear: both;
}
#heading {
	text-align: center;
}

#heading p {
	font-family: 'Roboto Mono', monospace;
	margin-top: 7px;
}

#tableHolder {
	background-color: white;
	width: 60%;
	margin: 3% 20%;
}

.circle {
	background-color: lightgray;
	padding: 53px;
	border-radius: 50%;
	width: 3%;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.circle:hover {
	background-color: #ADAAAA;
	cursor: pointer;
}

#row1 {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
}

#row2 {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
}

#row3 {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

form {
	background-color: white;
	text-align: left;
	width: 65%;
	padding-left: 2%;
	padding-bottom: 1%;
	font-family: 'Roboto Mono', monospace;
	margin-left: 15.5%;
	margin-top: -46%;
	display: none;
	z-index: 2;
	position: absolute;
	padding-bottom: 8%;
	box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
}

form p {
	font-family: 'Roboto Mono', monospace;
}

input {
	display: block;
	margin-bottom: 2%;
}

input[type=text] {
	border: none;
	border-bottom: 1px solid black;
	padding: 1%;
	font-family: 'Roboto Mono', monospace;
	width: 92%;
	margin-bottom: 5%;
	font-size: 14px;
}

input[type=submit] {
	width: 94%;
	background-color: #008000;
	color: white;
	border-style: none;
	font-size: 14px;
	padding: 15px;
	box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
	font-family: 'Roboto Mono', monospace;
}

#inputs {
	text-align: left;
}

i {
	float: right;
	padding-right: 3%;
	padding-top: 3%;
	color: #CCC;
}

i:hover {
	cursor: pointer;
	color: black;
}

.reserved {
	background-color: gray;
}

.reserved:hover {
	background-color: gray;
	cursor: not-allowed;
}